@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
   font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  color: #0d3d68;
}
.start-page {
  position: absolute;
margin-top: -30px;
display: inline-block;
color: darkblue;
background-color: aquamarine;
padding: 10px;
border-radius: 5px;
}
.start-page:hover{
  color: darkblue;
  border: 1px solid;
}
.list, .header{
  display:block;
 margin-top: 80px;
 text-align: center;
}
li{
display: inline-block;
padding: 5px;
background-color: #4bafbd;
border-radius: 5px;
}

li:hover{
  background-color: rgb(96, 199, 211);
}

h3 {
  display: inline-block;
  border-radius: 15px;
  border: 1px solid rgb(184, 212, 184);
  padding: 15px 50px;
  background-color: #f3f3f7;
}
h5 {
  padding: 3px;
  color: #0d3d68;
  background-color: bisque;
}